body {
    background-color: #fff;
    text-align: center;
    margin: 0px;
    color: #40514E;
}

div {
    margin-top: 0px;
}
h1 {
    margin: 50px auto 0px auto;
    font-family: 'Sacramento';
    font-size: 562.5%;
    color: #45b29a;

    /* margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    Margin-top: 0; */
}

.small-bio {
    font-family: 'Sacramento';
    font-weight: normal;
    font-size: 2.188rem;
    color: #45b29a;
}

.description {
    /* 
        Consegui corrigir esse bug pois quando coloquei o Width pro texto ficar com mais linhas ele ficou na esquerda, e então lembrei do 
        display: inline-block;

    display: inline-block;
    text-align: center;
    */
    margin: auto;
    width: 35%;
}

h2 {
    color: #45b29a;
    font-family: 'Oxanium';
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

p {
    font-family: 'Oxanium';
    font-size: 110%;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 50px;
}

.middle-container {
    padding: 50px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.footer-link {
    color: #11999E;
    font-family: 'Oxanium';
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #EAF6F6;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}


.footer-name {
    color: #EAF6F6;
    font-size: 18px;
}

.top-cloud {
   position: absolute;
   right: 25%;
   top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

hr {
    border-style: none none dotted none;
    border-width: 5px;
    background-color: white;
    border-color: grey;
    margin: 70px auto 70px auto;
    height: 0px;
    width: 7%;
}

.skill-row {
    padding: 5px;
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}

p {
    line-height: 1.5;
}

.computer-photo {
    margin-right: 5%;
    float: left;
    width: 25%;
}

.game-photo {
    margin-left: 5%;
    float: right;
    width: 25%;
}


ul li {
    list-style: none;
    margin: auto 70px auto 20px;
    float: right;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Oxanium';
    color: #11999E;
}